@media (min-width: 992px) {
    .p-lg-v7-h3 {
        padding: 7rem 3rem !important;
    }
}

.wrap {
    width: 100%;
    border-radius: 5px;
    -webkit-box-shadow: 0px 10px 34px -15px rgba(0, 0, 0, 0.24);
    -moz-box-shadow: 0px 10px 34px -15px rgba(0, 0, 0, 0.24);
    box-shadow: 0px 10px 34px -15px rgba(0, 0, 0, 0.24); }

.text-wrap, .login-wrap {
    width: 50%; }

@media (max-width: 991.98px) {
    .text-wrap, .login-wrap {
        width: 100%; } }

.text-wrap {
    background-image: url(../images/login-bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover ;
}

.login-wrap {
    position: relative;
    background: #fff; }
.login-wrap h3 {
    font-weight: 300; }

.form-group {
    position: relative; }
.form-group .label {
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #000;
    font-weight: 700; }
.form-group a {
    color: gray; }

.form-control {
    height: 48px;
    background: rgba(0, 0, 0, 0.05);
    color: #000;
    font-size: 16px;
    border-radius: 50px;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 1px solid transparent;
    padding-left: 20px;
    padding-right: 20px;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out; }

.checkbox-wrap {
    display: block;
    position: relative;
    padding-left: 30px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; }

.checkbox-wrap input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0; }

.checkmark {
    position: absolute;
    top: 0;
    left: 0; }

.checkmark:after {
    content: "\f0c8";
    font-family: "FontAwesome";
    position: absolute;
    color: rgba(0, 0, 0, 0.1);
    font-size: 20px;
    margin-top: -4px;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s; }

@media (prefers-reduced-motion: reduce) {
    .checkmark:after {
        -webkit-transition: none;
        -o-transition: none;
        transition: none; } }

/* Show the checkmark when checked */
.checkbox-wrap input:checked ~ .checkmark:after {
    display: block;
    content: "\f14a";
    font-family: "FontAwesome";
    color: rgba(0, 0, 0, 0.2); }

.checkbox-primary {
    color: #bbd147; }
.checkbox-primary input:checked ~ .checkmark:after {
    color: #bbd147; }

label.checkbox-wrap{
    color: var(--color-botones) !important;
}

.invalid-feedback-error{
    width: 100%;
    margin-top: 0.25rem;
    font-size: 14px;
    color: #dc3545;
}