@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "PrimaryFont";
  src: url(../font/Anton.ttf);
}
.w-100, .hero_view-grid > *, .wh-100vh, .wh-100 {
  width: 100%;
}

.h-100, .wh-100 {
  height: 100%;
}

.wh-100vh {
  height: 100vh;
}

.absolute {
  position: absolute;
}

.d-none {
  display: none !important;
}

body {
  overflow: hidden;
}

.social-login-icons {
  display: flex;
  align-items: center;
  margin-top: 14vh;
}
@media (max-width: 1200px) {
  .social-login-icons {
    margin-top: 8vh;
  }
}
@media (max-width: 1000px) {
  .social-login-icons {
    margin-top: 3rem;
  }
}
.social-login-icons svg {
  width: 40px;
}

.social-login-icons svg,
.social-login-icons button > * {
  pointer-events: none;
}

.social-icon-1,
.social-icon-2,
.social-icon-3,
.social-icon-4 {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.socialcontainer {
  height: 50px;
  overflow: hidden;
  cursor: pointer;
  border: none;
}

.social-icon-1 {
  transition-duration: 0.4s;
  background-color: rgb(0, 0, 0);
}

.socialcontainer:hover .social-icon-1 {
  transform: translateY(-50px);
}

.social-icon-2 {
  transition-duration: 0.4s;
  background: linear-gradient(72.44deg, #ff7a00 11.92%, #ff0169 51.56%, #d300c5 85.69%);
}

.socialcontainer:hover .social-icon-2 {
  transform: translateY(-50px);
}

.social-icon-3 {
  transition-duration: 0.4s;
  background: #316ff6;
}

.socialcontainer:hover .social-icon-3 {
  transform: translateY(-50px);
}

.social-icon-4 {
  transition-duration: 0.4s;
  background: linear-gradient(180deg, rgb(129, 34, 144) 0%, rgb(77, 34, 124) 91%);
}

.socialcontainer:hover .social-icon-4 {
  transform: translateY(-50px);
}

.custom-select {
  width: 100%;
  margin-top: 30px;
  position: relative;
}
.custom-select select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 100%;
  outline: none;
  font-size: 15px;
  padding: 0.675em 1em;
  background-color: #fff;
  border: 1px solid #caced1;
  border-radius: 0;
  color: #000;
  cursor: pointer;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.custom-select::before, .custom-select::after {
  --size: 0.3rem;
  content: "";
  position: absolute;
  right: 1rem;
  pointer-events: none;
}
.custom-select::before {
  border-left: var(--size) solid transparent;
  border-right: var(--size) solid transparent;
  border-bottom: var(--size) solid black;
  top: 40%;
}
.custom-select::after {
  border-left: var(--size) solid transparent;
  border-right: var(--size) solid transparent;
  border-top: var(--size) solid black;
  top: 55%;
}

.hero_view-button-generate .btn-file > * {
  width: 100%;
  height: 46px;
}

.hero_view {
  position: fixed;
  inset: 0;
  background: #FFF;
  z-index: 5;
}
@media (max-width: 1000px) {
  .hero_view {
    height: auto !important;
    min-height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
  }
}
.hero_view-grid {
  display: grid;
}
@media (min-width: 1000px) {
  .hero_view-grid {
    width: 100%;
    height: 100%;
  }
}
@media (min-width: 1200px) {
  .hero_view-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 1200px) {
  .hero_view-grid {
    grid-template-columns: 45% 55%;
  }
}
@media (max-width: 1000px) {
  .hero_view-grid {
    grid-template-columns: 100%;
    width: 100%;
    min-height: 100vh;
    height: auto;
  }
}
.hero_view-grid > * {
  height: 100vh;
}
@media (max-width: 1000px) {
  .hero_view-grid > * {
    height: auto !important;
    min-height: 100vh;
  }
}
.hero_view h1 {
  font-family: "PrimaryFont";
  font-weight: 400;
  letter-spacing: 0.3px;
  text-transform: uppercase;
}
.hero_view-content {
  display: flex;
  align-items: flex-start;
  padding: 3rem 5%;
  overflow-y: auto;
  overflow-x: hidden;
  flex-direction: column;
  justify-content: flex-start;
}
@media (max-width: 1000px) {
  .hero_view-content {
    padding: 2rem 4%;
  }
}
.hero_view-content::-webkit-scrollbar {
  width: 6px;
}
.hero_view-content::-webkit-scrollbar-thumb {
  background: #1f1e1e;
  border-radius: 50px;
}
.hero_view-content::-webkit-scrollbar-track {
  background: rgba(204, 204, 204, 0.5058823529);
}
.hero_view-image {
  overflow: hidden;
}
@media (max-width: 1000px) {
  .hero_view-image {
    display: none;
  }
}
.hero_view-image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  transition: all 0.3s ease;
}
.hero_view-image:hover img {
  transform: scale(1.1);
}
.hero_view-selectable, .hero_view-button-generate {
  width: min(100%, 250px);
  position: relative;
}
.hero_view-selectable p {
  position: absolute;
  top: calc(100% + 5px);
  left: 0;
  font-size: 11.6px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: left;
  width: -moz-max-content;
  width: max-content;
}
.hero_view-test {
  margin-top: 4vh;
}
.hero_view-test li {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 6px;
}
.hero_view-test li ul {
  width: 100%;
  margin-left: 1.6rem;
}
.hero_view-test li:not(:last-child) {
  margin-bottom: 4px;
}
.hero_view-test li svg {
  width: 17px;
  height: 17px;
}
.hero_view-test li svg.check {
  color: #27ae60;
}
.hero_view-test li svg.uncheck {
  color: #c0392b;
}
.hero_view-test li p {
  font-size: 14px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  max-width: 333px;
}
.hero_view-for_bg {
  margin-top: 50px;
  position: relative;
  width: 250px;
  height: 190px;
  border: 2px dashed #ccc;
}
.hero_view-for_bg .remove_bg {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: calc(100% + 10px);
  transition: all 0.3s ease;
  cursor: pointer;
  width: 34px;
  height: 34px;
  opacity: 0;
  pointer-events: none;
  aspect-ratio: 1/1;
  border-radius: 4px;
  border: 2px solid red;
  background: none;
}
.hero_view-for_bg .remove_bg svg {
  width: 100%;
  height: 100%;
  padding: 5px;
  pointer-events: none;
  color: red;
}
.hero_view-for_bg .input {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  z-index: 4;
  cursor: pointer;
  opacity: 0;
}
.hero_view-for_bg .labelFile {
  pointer-events: none;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 5px;
  color: #404040;
  cursor: pointer;
}
.hero_view-for_bg p {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 12px;
  max-width: 215px;
}
.hero_view-for_bg.filled {
  border-color: #27ae60;
}
.hero_view-for_bg.filled path {
  fill: #27ae60 !important;
}
.hero_view-for_bg.filled p {
  color: #27ae60;
  font-weight: 600;
}
.hero_view-for_bg.filled .remove_bg {
  opacity: 1;
  pointer-events: all;
}
.hero_view-button-generate {
  margin-top: 14px;
}
.hero_view-button-generate .btn-file {
  display: grid;
  grid-template-columns: 46px 1fr;
  width: 100%;
  transition: all 0.3s ease;
  height: 48px;
  grid-gap: 6px;
}
.hero_view-button-generate .btn-file > * {
  overflow: hidden;
  border-radius: 4px;
  border: 2px solid #2ecc71;
  position: relative;
  cursor: pointer;
}
.hero_view-button-generate .btn-file svg, .hero_view-button-generate .btn-file path {
  pointer-events: none;
}
.hero_view-button-generate .btn-file svg {
  width: 100%;
  height: 100%;
  color: #2ecc71;
}
.hero_view-button-generate .btn-file > div {
  padding: 9px;
  background: white;
}
.hero_view-button-generate .btn-file [type=file] {
  cursor: pointer;
  position: absolute;
  width: 100%;
  height: 100%;
  inset: 0;
  opacity: 0;
  z-index: 4;
}
.hero_view-button-generate .btn-file [type=button] {
  background: #2ecc71;
  border: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 16px;
  color: white;
}
.hero_view-button-generate .btn-file.disabled {
  opacity: 0.6;
  cursor: not-allowed;
}
.hero_view-button-generate .btn-file.disabled input, .hero_view-button-generate .btn-file.disabled svg, .hero_view-button-generate .btn-file.disabled div, .hero_view-button-generate .btn-file.disabled path, .hero_view-button-generate .btn-file.disabled > * {
  cursor: not-allowed;
}
.hero_view-button-generate .btn-file.disabled input {
  pointer-events: none;
}
.hero_view-button-generate button {
  display: inline-block;
  border-radius: 4px;
  background-color: #3d405b;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 17px;
  padding: 16px;
  width: 160px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.hero_view-button-generate button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
.hero_view-button-generate button span::after {
  content: "»";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -15px;
  transition: 0.5s;
}
.hero_view-button-generate button:hover span {
  padding-right: 15px;
}
.hero_view-button-generate button:hover span::after {
  opacity: 1;
  right: 0;
}

.toggle:not(.active) {
  display: none;
}

.canvas {
  position: relative;
  background: url(../images/full2.jpeg);
  background-repeat: no-repeat !important;
  background-size: cover !important;
  display: grid;
  /*&[data-first-round="1"]{
      &.doubles{
          &.ig{
              .match_player p{font-size: 3.85em;}
          }
          &.fb{
              .match_player p{font-size: 4.05em;}
          }
      }
  }*/
}
.canvas_cat, .canvas_format, .canvas_tournament {
  left: 50%;
  transform: translateX(-50%);
  width: -moz-fit-content;
  width: fit-content;
  text-align: center;
  text-shadow: 0 3px 3px rgba(0, 0, 0, 0.6);
  font-family: "PrimaryFont";
  font-style: italic;
  color: white;
  z-index: 3;
}
.canvas_scroll {
  padding-bottom: 30px;
  overflow-x: scroll;
  pointer-events: none;
  opacity: 0;
  position: absolute;
  z-index: -1;
}
.canvas.ig {
  padding: 5em 6em;
  width: 5176px;
  height: 3235px;
  font-size: 1rem;
  grid-gap: 78px;
}
.canvas.fb {
  padding: 38px 52px;
  width: 5000px;
  height: 2625px;
  font-size: 0.925rem;
  grid-gap: 58px;
}
.canvas_logo, .canvas_trophy, .canvas_winner, .canvas_cat {
  display: block;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.canvas_winner {
  width: 555px;
  z-index: 4;
}
.canvas_winner p {
  font-family: "PrimaryFont";
  letter-spacing: 0.45px;
  text-align: center;
  text-shadow: 0 3px 3px rgba(0, 0, 0, 0.6);
  margin: 0;
  font-style: italic;
  color: white;
}
.canvas_winner small {
  display: block;
  text-align: center;
  margin: 6px auto 0;
}
.canvas_winner img {
  display: block;
  margin: 0 auto 16px;
}
.canvas.doubles .match_player {
  padding-inline: 3%;
}
.canvas.ig .canvas_tournament {
  top: 1.9%;
  font-size: 8em;
}
.canvas.ig .canvas_format {
  top: 8%;
  font-size: 4.5em;
}
.canvas.ig .canvas_cat {
  top: 10.2%;
  font-size: 3.75em;
}
.canvas.ig .canvas_information > p {
  font-size: 4.5em;
}
.canvas.ig .canvas_winner {
  top: 59%;
}
.canvas.ig .canvas_winner p {
  font-size: 5em;
}
.canvas.ig .canvas_logo {
  top: 19%;
  width: 12%;
}
.canvas.ig .canvas_trophy {
  top: 28%;
  width: 10%;
}
.canvas.ig .canvas_final {
  font-size: 1.2rem;
}
.canvas.fb .canvas_tournament {
  top: 2.5%;
  font-size: 8em;
}
.canvas.fb .canvas_format {
  top: 9.3%;
  font-size: 4.5em;
}
.canvas.fb .canvas_cat {
  top: 13.05%;
  font-size: 3.75em;
}
.canvas.fb .canvas_information > p {
  font-size: 4em;
}
.canvas.fb .canvas_winner {
  top: 60%;
}
.canvas.fb .canvas_winner p {
  font-size: 5.3em;
}
.canvas.fb .canvas_logo {
  top: 20%;
  width: 11%;
}
.canvas.fb .canvas_trophy {
  top: 25%;
  width: 9%;
}
.canvas.fb .canvas_final {
  font-size: 1.1rem;
}
.canvas_photos {
  position: absolute;
  width: 50%;
  height: 100%;
  z-index: 2;
  top: 0;
}
.canvas_photos.izq {
  left: 0;
}
.canvas_photos.der {
  right: 0;
}
.canvas[data-first-round="8"] {
  grid-template-columns: 1fr 1fr 1fr 1fr 1.12fr 1fr 1fr 1fr 1fr;
}
.canvas[data-first-round="8"] .canvas_col-8:nth-child(even) {
  grid-column: -1/-2;
}
.canvas[data-first-round="8"] .canvas_col-4:nth-child(even) {
  grid-column: -2/-3;
}
.canvas[data-first-round="8"] .canvas_col-2:nth-child(even) {
  grid-column: -3/-4;
}
.canvas[data-first-round="8"] .canvas_col-1:nth-child(even) {
  grid-column: -4/-5;
}
.canvas[data-first-round="4"] {
  grid-template-columns: 1fr 1fr 1fr 1.12fr 1fr 1fr 1fr;
}
.canvas[data-first-round="4"] .canvas_col-4:nth-child(even) {
  grid-column: -1/-2;
}
.canvas[data-first-round="4"] .canvas_col-2:nth-child(even) {
  grid-column: -2/-3;
}
.canvas[data-first-round="4"] .canvas_col-1:nth-child(even) {
  grid-column: -3/-4;
}
.canvas[data-first-round="4"].ig .canvas_tournament {
  top: 1.9%;
  font-size: 7em;
}
.canvas[data-first-round="4"].ig .canvas_format {
  top: 8%;
  font-size: 4em;
}
.canvas[data-first-round="4"].ig .canvas_winner {
  top: 60%;
}
.canvas[data-first-round="4"].ig .canvas_winner p {
  font-size: 5.25em;
}
.canvas[data-first-round="4"].fb .canvas_tournament {
  top: 2.5%;
  font-size: 7em;
}
.canvas[data-first-round="4"].fb .canvas_format {
  top: 9.3%;
  font-size: 4em;
}
.canvas[data-first-round="4"].fb .canvas_winner {
  top: 62%;
}
.canvas[data-first-round="4"].fb .canvas_winner p {
  font-size: 5.2em;
}
.canvas[data-first-round="4"] .match {
  height: 16em;
}
.canvas[data-first-round="2"] {
  grid-template-columns: 1fr 1fr 1.12fr 1fr 1fr;
}
.canvas[data-first-round="2"].ig {
  padding-inline: 12em;
}
.canvas[data-first-round="2"].fb {
  padding-inline: 6.6em;
}
.canvas[data-first-round="2"] .canvas_col-2:nth-child(even) {
  grid-column: -1/-2;
}
.canvas[data-first-round="2"] .canvas_col-1:nth-child(even) {
  grid-column: 4/5;
}
.canvas[data-first-round="2"].ig .canvas_tournament {
  top: 1.9%;
  font-size: 10em;
}
.canvas[data-first-round="2"].ig .canvas_format {
  top: 9%;
  font-size: 6.5em;
}
.canvas[data-first-round="2"].ig .canvas_cat {
  top: 12%;
  font-size: 4.75em;
}
.canvas[data-first-round="2"].ig .canvas_winner {
  width: 1100px;
  top: 60%;
}
.canvas[data-first-round="2"].ig .canvas_winner p {
  font-size: 7em;
}
.canvas[data-first-round="2"].fb .canvas_tournament {
  top: 1.2%;
  font-size: 8em;
}
.canvas[data-first-round="2"].fb .canvas_format {
  top: 9%;
  font-size: 5.25em;
}
.canvas[data-first-round="2"].fb .canvas_cat {
  top: 13.5%;
  font-size: 4.75em;
}
.canvas[data-first-round="2"].fb .canvas_winner {
  width: 1100px;
  top: 65%;
}
.canvas[data-first-round="2"].fb .canvas_winner p {
  font-size: 5.8em;
}
.canvas[data-first-round="2"] .match {
  height: 24em;
}
.canvas[data-first-round="1"] {
  grid-template-columns: 1fr 1.2fr 1fr;
  grid-gap: 5%;
  padding-inline: 4%;
}
.canvas[data-first-round="1"] .match {
  height: 24em;
}
.canvas[data-first-round="1"] .match_result p {
  font-size: 3.9em;
}
.canvas[data-first-round="1"] .match_player {
  padding: 10px 5%;
}
.canvas[data-first-round="1"] .last_format_round .match_player {
  height: 100%;
}
.canvas[data-first-round="1"] .last_format_round .match_player::before {
  display: none !important;
}
.canvas[data-first-round="1"] .canvas_final {
  grid-column: 2/3;
}
.canvas[data-first-round="1"] .canvas_final .match::before {
  position: absolute;
  content: "";
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 1px;
  background: black;
}
.canvas[data-first-round="1"] .canvas_col-2:nth-child(odd) .match::after {
  left: 0 !important;
}
.canvas[data-first-round="1"] .canvas_col-2:nth-child(even) .match::after {
  right: 0 !important;
}
.canvas[data-first-round="1"].ig .canvas_tournament {
  top: 1.9%;
  font-size: 10em;
}
.canvas[data-first-round="1"].ig .canvas_format {
  top: 9%;
  font-size: 6.5em;
}
.canvas[data-first-round="1"].ig .canvas_cat {
  top: 12%;
  font-size: 4.75em;
}
.canvas[data-first-round="1"].ig .canvas_winner {
  width: 1100px;
  top: 63%;
}
.canvas[data-first-round="1"].ig .canvas_winner p {
  font-size: 7em;
}
.canvas[data-first-round="1"].ig .canvas_final .match::before {
  width: 120%;
}
.canvas[data-first-round="1"].ig .canvas_col-2:nth-child(even) .match:nth-child(odd)::before {
  right: calc(100% + 78px);
}
.canvas[data-first-round="1"].ig .canvas_col-2:nth-child(odd) .match:nth-child(odd)::before {
  left: calc(100% + 78px);
}
.canvas[data-first-round="1"].ig .match_player p {
  font-size: 4.5em;
}
.canvas[data-first-round="1"].fb .canvas_tournament {
  top: 1.2%;
  font-size: 8em;
}
.canvas[data-first-round="1"].fb .canvas_format {
  top: 9%;
  font-size: 5.25em;
}
.canvas[data-first-round="1"].fb .canvas_cat {
  top: 13.5%;
  font-size: 4.75em;
}
.canvas[data-first-round="1"].fb .canvas_winner {
  width: 1100px;
  top: 66%;
}
.canvas[data-first-round="1"].fb .canvas_winner p {
  font-size: 5.8em;
}
.canvas[data-first-round="1"].fb .canvas_final .match::before {
  width: 122%;
}
.canvas[data-first-round="1"].fb .canvas_col-2:nth-child(even) .match:nth-child(odd)::before {
  right: calc(100% + 58px);
}
.canvas[data-first-round="1"].fb .canvas_col-2:nth-child(odd) .match:nth-child(odd)::before {
  left: calc(100% + 58px);
}
.canvas[data-first-round="1"].fb .match_player p {
  font-size: 4.25em;
}
.canvas > *:not(.canvas_winner, .canvas_tournament, .canvas_format, .canvas_photos, .canvas_logo, .canvas_trophy, .canvas_information) {
  grid-row: 1/2;
  display: grid;
  width: 100%;
  align-items: center;
}
.canvas .match {
  width: 100%;
  position: relative;
  z-index: 2;
  height: 14em;
}
.canvas .match::before, .canvas .match::after {
  background: #3c3c3c;
}
.canvas .match p {
  margin: 0;
  font-family: "PrimaryFont";
  letter-spacing: 0.2px;
  color: #5c5b5b;
}
.canvas .match_result {
  position: absolute;
  top: calc(100% + 2px);
  right: 0;
  width: 100%;
}
.canvas .match_result p {
  font-size: 2.3em;
  text-align: center;
  text-transform: uppercase;
  font-weight: 100;
  color: white;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.canvas .match_table {
  width: 100%;
  height: 100%;
  background: white;
  position: relative;
  z-index: 2;
}
.canvas .match_player {
  width: 100%;
  height: 50%;
  display: grid;
  place-content: center;
  position: relative;
}
.canvas .match_player p {
  font-size: 2.55em;
  line-height: 1.25em;
  text-align: center;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.canvas .match_player:first-child::before {
  position: absolute;
  content: "";
  width: 90%;
  height: 1px;
  top: calc(100% - 1px);
  left: 50%;
  transform: translateX(-50%);
  background: #3D3D3D;
}
.canvas_col-8 .match::after {
  position: absolute;
  content: "";
  top: 50%;
  transform: translateY(-50%);
  height: 1px;
}
.canvas_col-8 .match:nth-child(odd)::before {
  position: absolute;
  content: "";
  top: 50%;
  width: 1px;
  z-index: 1;
}
.canvas_col-8 .match:nth-child(odd) .match::after {
  left: 100%;
}
.canvas_col-8 .match:nth-child(even) .match::after {
  right: 100%;
}
.canvas_col-4 .match::after {
  position: absolute;
  content: "";
  top: 50%;
  transform: translateY(-50%);
  height: 1px;
}
.canvas_col-4 .match:nth-child(odd)::before {
  position: absolute;
  content: "";
  top: 50%;
  width: 1px;
  z-index: 1;
}
.canvas_col-4 .match:nth-child(odd) .match::after {
  left: 100%;
}
.canvas_col-4 .match:nth-child(even) .match::after {
  right: 100%;
}
.canvas_col-2 .match::after {
  position: absolute;
  content: "";
  top: 50%;
  transform: translateY(-50%);
  height: 1px;
}
.canvas_col-2 .match:nth-child(odd)::before {
  position: absolute;
  content: "";
  top: 50%;
  width: 1px;
  z-index: 1;
}
.canvas_col-2 .match:nth-child(odd) .match::after {
  left: 100%;
}
.canvas_col-2 .match:nth-child(even) .match::after {
  right: 100%;
}
.canvas_col-1 .match::after {
  position: absolute;
  content: "";
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  width: calc(100% + 200px);
  height: 1px;
}
.canvas.ig .canvas_col-8:nth-child(odd) .match::after {
  width: 39px;
  left: 100%;
}
.canvas.ig .canvas_col-8:nth-child(odd) .match:nth-child(odd)::before {
  height: 396px;
  left: calc(100% + 39px);
}
.canvas.ig .canvas_col-8:nth-child(odd) .match:nth-child(odd) .match::before {
  left: calc(100% + 39px);
}
.canvas.ig .canvas_col-8:nth-child(odd) .match:nth-child(even) .match::before {
  right: calc(100% + 39px);
}
.canvas.ig .canvas_col-8:nth-child(even) .match::after {
  right: 100%;
  width: 39px;
}
.canvas.ig .canvas_col-8:nth-child(even) .match:nth-child(odd)::before {
  height: 396px;
  right: calc(100% + 39px);
}
.canvas.ig .canvas_col-8:nth-child(even) .match:nth-child(odd) .match::before {
  right: calc(100% + 39px);
}
.canvas.ig .canvas_col-8:nth-child(even) .match:nth-child(even) .match::before {
  left: calc(100% + 39px);
}
.canvas.ig .canvas_col-4:nth-child(odd) .match::after {
  width: calc(100% + 78px);
  left: -39px;
}
.canvas.ig .canvas_col-4:nth-child(odd) .match:nth-child(odd)::before {
  height: 789px;
  left: calc(100% + 39px);
}
.canvas.ig .canvas_col-4:nth-child(odd) .match:nth-child(odd) .match::before {
  left: calc(100% + 39px);
}
.canvas.ig .canvas_col-4:nth-child(odd) .match:nth-child(even) .match::before {
  right: calc(100% + 39px);
}
.canvas.ig .canvas_col-4:nth-child(even) .match::after {
  width: calc(100% + 78px);
  right: -39px;
}
.canvas.ig .canvas_col-4:nth-child(even) .match:nth-child(odd)::before {
  height: 789px;
  right: calc(100% + 39px);
}
.canvas.ig .canvas_col-4:nth-child(even) .match:nth-child(odd) .match::before {
  right: calc(100% + 39px);
}
.canvas.ig .canvas_col-4:nth-child(even) .match:nth-child(even) .match::before {
  left: calc(100% + 39px);
}
.canvas.ig .canvas_col-2:nth-child(odd) .match::after {
  width: calc(100% + 78px);
  left: -39px;
}
.canvas.ig .canvas_col-2:nth-child(odd) .match:nth-child(odd)::before {
  height: 1577px;
  left: calc(100% + 39px);
}
.canvas.ig .canvas_col-2:nth-child(odd) .match:nth-child(odd) .match::before {
  left: calc(100% + 39px);
}
.canvas.ig .canvas_col-2:nth-child(odd) .match:nth-child(even) .match::before {
  right: calc(100% + 39px);
}
.canvas.ig .canvas_col-2:nth-child(even) .match::after {
  width: calc(100% + 78px);
  right: -39px;
}
.canvas.ig .canvas_col-2:nth-child(even) .match:nth-child(odd)::before {
  height: 1577px;
  right: calc(100% + 39px);
}
.canvas.ig .canvas_col-2:nth-child(even) .match:nth-child(odd) .match::before {
  right: calc(100% + 39px);
}
.canvas.ig .canvas_col-2:nth-child(even) .match:nth-child(even) .match::before {
  left: calc(100% + 39px);
}
.canvas.ig .canvas_col-1:nth-child(odd) .match::after {
  left: -39px;
}
.canvas.ig .canvas_col-1:nth-child(even) .match::after {
  right: -39px;
}
.canvas.ig[data-first-round="4"] .canvas_col-4:nth-child(odd) .match::after {
  left: 0;
  width: calc(100% + 39px);
}
.canvas.ig[data-first-round="4"] .canvas_col-4:nth-child(even) .match::after {
  right: 0;
  width: calc(100% + 39px);
}
.canvas.ig[data-first-round="2"] .match_player p {
  font-size: 3.9em;
}
.canvas.ig[data-first-round="2"] .match_result p {
  font-size: 3.5em;
}
.canvas.ig[data-first-round="2"] .canvas_col-2:nth-child(odd) .match::after {
  left: 0;
  width: calc(100% + 39px);
}
.canvas.ig[data-first-round="2"] .canvas_col-2:nth-child(odd) .match:nth-child(odd)::before {
  height: 1569px;
}
.canvas.ig[data-first-round="2"] .canvas_col-2:nth-child(even) .match::after {
  right: 0;
  width: calc(100% + 39px);
}
.canvas.ig[data-first-round="2"] .canvas_col-2:nth-child(even) .match:nth-child(odd)::before {
  height: 1569px;
}
.canvas.fb .canvas_col-8:nth-child(odd) .match::after {
  width: 29px;
  left: 100%;
}
.canvas.fb .canvas_col-8:nth-child(odd) .match:nth-child(odd)::before {
  height: 325px;
  left: calc(100% + 29px);
}
.canvas.fb .canvas_col-8:nth-child(odd) .match:nth-child(odd) .match::before {
  left: calc(100% + 29px);
}
.canvas.fb .canvas_col-8:nth-child(odd) .match:nth-child(even) .match::before {
  right: calc(100% + 29px);
}
.canvas.fb .canvas_col-8:nth-child(even) .match::after {
  right: 100%;
  width: 29px;
}
.canvas.fb .canvas_col-8:nth-child(even) .match:nth-child(odd)::before {
  height: 325px;
  right: calc(100% + 29px);
}
.canvas.fb .canvas_col-8:nth-child(even) .match:nth-child(odd) .match::before {
  right: calc(100% + 29px);
}
.canvas.fb .canvas_col-8:nth-child(even) .match:nth-child(even) .match::before {
  left: calc(100% + 29px);
}
.canvas.fb .canvas_col-4:nth-child(odd) .match::after {
  width: calc(100% + 58px);
  left: -29px;
}
.canvas.fb .canvas_col-4:nth-child(odd) .match:nth-child(odd)::before {
  height: 648px;
  left: calc(100% + 29px);
}
.canvas.fb .canvas_col-4:nth-child(odd) .match:nth-child(odd) .match::before {
  left: calc(100% + 29px);
}
.canvas.fb .canvas_col-4:nth-child(odd) .match:nth-child(even) .match::before {
  right: calc(100% + 29px);
}
.canvas.fb .canvas_col-4:nth-child(even) .match::after {
  width: calc(100% + 58px);
  right: -29px;
}
.canvas.fb .canvas_col-4:nth-child(even) .match:nth-child(odd)::before {
  height: 648px;
  right: calc(100% + 29px);
}
.canvas.fb .canvas_col-4:nth-child(even) .match:nth-child(odd) .match::before {
  right: calc(100% + 29px);
}
.canvas.fb .canvas_col-4:nth-child(even) .match:nth-child(even) .match::before {
  left: calc(100% + 29px);
}
.canvas.fb .canvas_col-2:nth-child(odd) .match::after {
  width: calc(100% + 58px);
  left: -29px;
}
.canvas.fb .canvas_col-2:nth-child(odd) .match:nth-child(odd)::before {
  height: 1298px;
  left: calc(100% + 29px);
}
.canvas.fb .canvas_col-2:nth-child(odd) .match:nth-child(odd) .match::before {
  left: calc(100% + 29px);
}
.canvas.fb .canvas_col-2:nth-child(odd) .match:nth-child(even) .match::before {
  right: calc(100% + 29px);
}
.canvas.fb .canvas_col-2:nth-child(even) .match::after {
  width: calc(100% + 58px);
  right: -29px;
}
.canvas.fb .canvas_col-2:nth-child(even) .match:nth-child(odd)::before {
  height: 1298px;
  right: calc(100% + 29px);
}
.canvas.fb .canvas_col-2:nth-child(even) .match:nth-child(odd) .match::before {
  right: calc(100% + 29px);
}
.canvas.fb .canvas_col-2:nth-child(even) .match:nth-child(even) .match::before {
  left: calc(100% + 29px);
}
.canvas.fb .canvas_col-1:nth-child(odd) .match::after {
  left: -29px;
}
.canvas.fb .canvas_col-1:nth-child(even) .match::after {
  right: -29px;
}
.canvas.fb[data-first-round="8"] .match_player p {
  font-size: 2.9em;
}
.canvas.fb[data-first-round="8"] .match_result p {
  font-size: 2.55em;
}
.canvas.fb[data-first-round="4"] .match_player p {
  font-size: 3.225em;
}
.canvas.fb[data-first-round="4"] .match_result p {
  font-size: 2.75em;
}
.canvas.fb[data-first-round="4"] .canvas_col-4:nth-child(odd) .match::after {
  left: 0;
  width: calc(100% + 29px);
}
.canvas.fb[data-first-round="4"] .canvas_col-4:nth-child(even) .match::after {
  right: 0;
  width: calc(100% + 29px);
}
.canvas.fb[data-first-round="2"] .match_player p {
  font-size: 3.9em;
}
.canvas.fb[data-first-round="2"] .match_result p {
  font-size: 3.5em;
}
.canvas.fb[data-first-round="2"] .canvas_col-2:nth-child(odd) .match::after {
  left: 0;
  width: calc(100% + 29px);
}
.canvas.fb[data-first-round="2"] .canvas_col-2:nth-child(even) .match::after {
  right: 0;
  width: calc(100% + 29px);
}
.canvas_final .match_table {
  background: white;
}
.canvas.ig > *:not(.canvas_winner, .canvas_tournament, .canvas_format, .canvas_photos, .canvas_logo, .canvas_trophy, .canvas_information) {
  row-gap: 79px;
}
.canvas.fb > *:not(.canvas_winner, .canvas_tournament, .canvas_format, .canvas_photos, .canvas_logo, .canvas_trophy, .canvas_information) {
  row-gap: 45px;
}
.canvas.fb .match::before {
  width: 2px;
  background: #000;
}
.canvas.fb .match::after {
  height: 2px;
  background: #000;
}
.canvas[data-first-round="4"].fb {
  font-size: 1.05rem;
}
.canvas[data-first-round="4"].fb .canvas_information > p {
  font-size: 4.75em;
}
.canvas[data-first-round="4"].fb .canvas_final {
  font-size: 1.175rem;
}
.canvas[data-first-round="4"].ig {
  font-size: 1.1rem;
}
.canvas[data-first-round="4"].ig .canvas_information > p {
  font-size: 5.05em;
}
.canvas[data-first-round="4"].ig .canvas_trophy {
  top: 27%;
}
.canvas[data-first-round="4"].ig .canvas_final {
  font-size: 1.3rem;
}
.canvas[data-first-round="2"].fb {
  font-size: 1.06rem;
}
.canvas[data-first-round="2"].ig {
  font-size: 1.11rem;
}
.canvas[data-first-round="8"].doubles.ig .match_player p {
  font-size: 2.15em;
}
.canvas[data-first-round="8"].doubles.fb .match_player p {
  font-size: 2.3em;
}
.canvas[data-first-round="4"].doubles.ig .match_player p {
  font-size: 2.3em;
}
.canvas[data-first-round="4"].doubles.fb .match_player p {
  font-size: 2.55em;
}
.canvas[data-first-round="2"].doubles.ig .match_player p {
  font-size: 3.2em;
}
.canvas[data-first-round="2"].doubles.fb .match_player p {
  font-size: 3.35em;
}/*# sourceMappingURL=style.css.map */